.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}
.page-item {
    margin: 0 2px;
}

.page-link {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--white-color);
    text-decoration: none;
    display: block;
    text-align: center;
    width: 50px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: var(--black-color);
}

.page-item.active .page-link {
    background-color: var(--button-color);
}