.icon {
    display: none !important;
    position: absolute;
    top: calc(50% - 60px);
    z-index: 2;
    right: 120px;
    color: var(--button-color);
}

.movie-item {
    position: relative;
    background-color:var(--black-color);
    height: 550px;
    width: 270px;
    margin-bottom: 25px;
    border-radius: 4px;

    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        margin: 0 auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    a {
        text-decoration: none;
    }

    &:hover .icon {
        opacity: 0.8;
        transition: ease-in 2s linear;
        display: block !important;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.movie-title {
    padding: 10px;

    h5, strong {
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 1.3;
        color: var(--white-color);
        display: block;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    h5 {
        font-size: 2.2rem;
    }

    strong {
        color: var(--text-color);
        padding-top: 10px;
    }
}

.movie-status {
    position: absolute;
    background-color: #A3765D;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--white-color);
    display: block;
    padding: 5px 20px;
}