.background {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("../assets/imgs/VN-en-20240422-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    object-fit: cover;
    min-height: 700px;
    background-position: center center;
}